html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Annie Use Your Telescope', cursive;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 20px 20px;
}

form {
	margin-top: 32px;
	text-align: center;
}

header {
  margin: 0;
  background: red;
  max-width: 100%;
  box-sizing: border-box;
}

header span {
  color: white;
  opacity: 0.6;
  font-size: 18px;
  float: right;
  margin-right: 32px;
  margin-top: 10px;
}

.js-video-rev {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-left: 32px;
  margin-right: 32px;
}

.js-video-block {
  float: left;
  width: 25%;
}

#search {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  height: 28px;
  font-size: 25px;
  padding: 13px 13px 13px 20px;
  background: rgba(186, 186, 186, 0.22);
  border: 1px solid #dcdcdc;
  border-radius:1px;
}


#search::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 25px;
}

#search:focus {
  background: #f6f6f6;
  outline: none;
}

#button {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(186, 186, 186, 0.22);
  border-radius: 1px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: steel;
  font-size: 24px;
  padding: 13px 13px 13px 13px;
  text-decoration: none;
}

#button:hover {
  background-color: #f6f6f6;
  color: black;
  outline: none;





